@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=PT+Serif:ital@1&family=Poppins:wght@500;600&family=Rubik+Vinyl&family=Source+Sans+Pro:wght@400;600&family=Style+Script&family=Truculenta:opsz,wght@12..72,400;12..72,500;12..72,600;12..72,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 400;
    background-color:transparent;


  }
  
  a {
    text-decoration: none;
  }