@use "../abstract/variable" as *;
@use "../abstract/functions"as func;


.header {
  padding: 1rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-style;
  border-bottom: 1px soild #eee;

  &--menu {
    display: flex;
    align-items: center;
    list-style-type: none;
  }


  &--menu__item>a {
    margin-right: 5rem;
    font-size: 12px;
    color: $font-color;
    transition: 200ms;
  }

  a:hover {
    color:func.theme-color("dark")
  }

    .active {
      color:func.theme-color("primary")
    }
  
}



.company {
  font-size: 14px;
  text-align: center;
  border: 2px solid black;
  font-family: $font-style;


  &--product {
    text-align: center;
    text-decoration: overline;
  }

  &--menus {
    display: inline-flex;
    list-style-type: none;

  }

  &--menus__item>a {
    font-size: 11px;
    padding: 1rem;
    margin-right: 7rem;
    align-items: center;
    color: $font-color;
  }

  a:hover {
    color: map-get($theme-color, "primary");
  }

}