
 $font-style:Tiemann, serif;
 $font-secondary: 'Rubik Vinyl', cursive;
 $font-color:#000;
 
$theme-color:(
    "primary":rgba(0, 128, 0, 0.647),
    "primary-hover":rgb(106, 201, 106),
    "dark" :darkred,
 );